html {
  font-size: 62.5%;
}
html * {
  box-sizing: border-box;
  font-family: $text-font;
  font-size: inherit;
  font-weight: normal;
}
body {
  font-size: 1.6rem;
  color: $normal-foreground-color;
  background-color: $normal-background-color;
}
pre {
  font-family: $code-font;
}
code {
  font-family: $code-font;
}
