.author {
  margin: 0 auto;
  > :first-child {
    margin: 0 auto;
    max-width: 180px;
    text-align: center;
  }
  > :last-child {
    margin: 0 auto;
    max-width: 320px;
    text-align: left;
  }
  img.avatar {
    width: 100%;
    max-width: 180px;
  }
  .twitter {
    margin: .5rem;
    svg {
      width: 3rem !important;
      height: 3rem !important;
      path {
        fill: rgb(29, 155, 240);
      }
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      flex: 1 1 auto;
      padding: 3px 8px;
      margin: 2px;
      text-align: left;
      font-size: .5rem;
      color: $normal-foreground-color;
      border: 1px solid #ddd;
      border-radius: 10px;
      &::before {
        content: "#";
        margin-right: 3px;
      }
      &:hover {
        color: $link-color;
      }
    }
  }
}
@include mq(tb) {
  .author {
    display: table-row;
    > :first-child {
      display: table-cell;
      width: 180px;
    }
    > :last-child {
      display: table-cell;
      vertical-align: top;
      padding: 0 2rem;
    }
    img.avatar {
      width: 100%;
    }
  }
}
