.author {
  margin: 0 auto;
  > :first-child {
    margin: 0 auto;
    max-width: 180px;
    text-align: center;
  }
  > :last-child {
    margin: 0 auto;
    max-width: 240px;
    text-align: left;
  }
  img.avatar {
    width: 100%;
    max-width: 180px;
  }
  .twitter {
    margin-top: 1rem;
    svg {
      width: 3rem !important;
      height: 3rem !important;
      path {
        fill: rgb(29, 155, 240);
      }
    }
  }
}
@include mq(tb) {
  .author {
    display: table-row;
    > :first-child {
      display: table-cell;
      width: 180px;
    }
    > :last-child {
      display: table-cell;
      vertical-align: top;
      padding: 2rem;
    }
    img.avatar {
      width: 100%;
    }
  }
}
