<div class="author">
  <div><img class="avatar" src="{{ "avatar.png" | relURL }}" /></div>
  <div>
    <div class="company-name">{{ .Site.Params.author.companyname }}</div>
    <div class="myname">{{ .Site.Params.author.name }}</div>
    {{ if .Site.Params.author.twitter }}
      <div class="twitter">
        <a href="{{ .Site.Params.author.twitter }}" target="_blank">
          {{ partial "svgs/twitter" . }}
        </a>
      </div>
    {{ end }}
    {{ if and .Site.Params.author.tags (gt (len .Site.Params.author.tags) 0) }}
      <ul class="tags">
        {{ range $tag := .Site.Params.author.tags }}
          <li>{{ $tag | safeHTML }}</li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
