[data-kind="page"] {
  .page {
    padding: 2rem;
  }
  article {
    h1 {
      margin: 2rem 0;
      color: $primary-background-color;
      font-size: 3rem;
      &::before {
        font-size: 2rem;
        margin-right: .5rem;
      }
      &::after {
        display: block;
        margin: -.7rem 0 1rem 0;
        content: "";
        height: 2px;
        background-color: $primary-background-color;
      }
    }
    &[data-type="blog"] h1::before {
      content: "[Blog]";
    }
    &[data-type="item"] h1::before {
      content: "[Item]";
    }
    h2 {
      font-size: 2.5rem;
      color: $primary-background-color;
      margin: 2rem 0;
      &::after {
        display: block;
        margin: -.7rem 0 1rem 0;
        content: "";
        height: 2px;
        background-color: $primary-background-color;
      }
    }
    p {
      margin: 1rem 0;
    }
    a:link, a:active, a:visited {
      color: $link-color;
    }
    a:hover {
      color: $hover-color;
    }
  }
}

