$primary-foreground-color: #f7fcfe; // 卯の花色（うのはないろ）
$primary-background-color: #460e44; // 紫紺（しこん）
$secondary-foreground-color: #9d5b8b; // 京紫き（ょうむらさき）
$secondary-background-color: #302833; // 黒紅（くろべに）
$highlight-color: #f7ec96; // 柚子色（ゆずいろ）
$normal-foreground-color: #302833; // 黒紅（くろべに）
$normal-background-color: #f7fcfe; // 卯の花色（うのはないろ）
